In [1]:
import sqlite3

In [2]:
db_file = r"C:\Scripts\sqlite\timeline_db\timeline.db"

In [3]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn

In [15]:
def run(connection, query):
    try:
        c = connection.cursor()
        c.execute(query)
    except Exception as e:
        print(e)

In [40]:
def insert(connection, table, columns, data):
    insertion_query = """ INSERT INTO {table_name}({columns})
    VALUES({data})
    """
    lined_columns = ','.join([str(val) for val in columns])
    lined_data = ','.join(["?" for val in columns])
    query = insertion_query.format(table_name=table,
                          columns=lined_columns,
                          data=lined_data)
    try:
        c = connection.cursor()
        c.execute(query, data)
        connection.commit()
    except Exception as e:
        print(f"Tried to run:\n {query}")
        print(f"Error: {e}")

In [31]:
def query(connection, query):
    try:
        c = connection.cursor()
        c.execute(query)
        
        results = c.fetchall()
        return results
    except Exception as e:
        print(e)

In [4]:
con = create_connection(db_file)

In [18]:
timeline_id_table_query = """
CREATE TABLE IF NOT EXISTS timeline_ids (
    name text,
    id text,
    url text,
    create_time text, 
    create_user text
)
"""

timeline_events_table_query = """
CREATE TABLE IF NOT EXISTS events (
    timeline_id text,
    event_id text,
    event_data json,
    event_time text,
    insertion_time text,
    create_user text
)
"""

In [19]:
run(con, timeline_id_table_query)

In [22]:
timeline_id_columns = ["name", "id", "url", "create_time", "create_user"]
timeline_ids_name = "timeline_ids"

In [29]:
insert(connection=con, 
       table=timeline_ids_name,
      columns=timeline_id_columns,
      data=["second", 2, "sec", "2020-05-08 16:00:00", "me"])

 INSERT INTO timeline_ids(name,id,url,create_time,create_user)
    VALUES(?,?,?,?,?)

In [41]:
insert(connection=con, 
       table=timeline_ids_name,
      columns=timeline_id_columns,
      data=["third", 3, "third", "2020-05-08 15:00:00", "me"])

In [39]:
query(con, "SELECT * FROM timeline_ids")

[('first_timeline\n', '1', 'first', '2020-05-08 19:15:20', 'itamar'),
 ('second', '2', 'sec', '2020-05-08 16:00:00', 'me')]

In [37]:
con.commit()